<div id="home">
    <div class="container-fluid" style="background-color:#000066; color: white; padding: 25px">
      <h1 class="display-4">UCLA Health</h1>
      <p class="lead" style="padding: 10px 0;">World-class care for our family of patients.</p>
      <br>
      <a class="btn btn-primary btn-lg" href="/login/" role="button">Click here to start</a>
    </div>

  <div class="card-group">

    <div class="card">
      <img src="img/tools.jpg" class="card-img-top" alt="Medical Tools">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Top ranked doctors with over 100 years of experience
          collectively at your service.</p>
      </div>
    </div>

    <div class="card">
      <img src="img/stethoscope.jpg" class="card-img-top" alt="Stethoscope">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Comprehensive care available. Most insurance accepted. Contact
          us to check today.</p>
      </div>
    </div>

    <div class="card">
      <img src="img/patient.jpg" class="card-img-top" alt="Patient">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Ask us about senior care services.</p>
      </div>
    </div>

  </div>

  <div class="card-group">

    <div class="card">
      <img src="img/baby.jpg" class="card-img-top" alt="Baby">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Whether your little one has arrived or is yet to come, we offer
          a range of care to help you grow your family.</p>
      </div>
    </div>

    <div class="card">
      <img src="img/heart.jpg" class="card-img-top" alt="Heart">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Our cardiology doctors are ranked top 5 in the country. [source:
          U.S. Health]</p>
      </div>
    </div>

    <div class="card">
      <img src="img/pulse.jpg" class="card-img-top" alt="Pulse">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Schedule your appointment with us by creating an account above
          today.</p>
      </div>
    </div>

  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}