html, body{
  height: 100%;
  width: 100%;
  font-family: 'Archivo', sans-serif;
}
#main{
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-column-gap: 20px;
}
#profilepic{
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
#middle img{
  width: 100%;
  border: 1px inset lightgray;
  border-radius: 5px;
}